<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="{% static "design/css/bootstrap.css" %}">
</head>
<body>
<div align="center"  style="background: silver" style="font-family:"Roboto", "Lucida Grande", Verdana, Arial, sans-serif">
                <a href="/adminhome/"> Admin Home</a>  </td></tr>
                  <a href="/adminnews/"> Add College News</a></td></tr>
                  <a href="/addmoderator/"> Add Moderator</a></td></tr>
                   <a href="/postarticles/"> Post Articles</a></td></tr>
                   <a href="/deletemember/ "> Delete Member</a></td></tr>
                   <a href="/adminlogout/"> Logout</a></td></tr>
</div>
</body>
</html>