{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{% comment %}
    <link rel="stylesheet" href="{%static "design/css/bootstrap.css" %}">
    {% endcomment %}
</head>

<body bgcolor="#cd853f" >

<div>

<table align="center" border="2" width="900" bgcolor="blue">
    <tr>
        <th> <img src="{% static 'images/logo.png'%}" width="100" height="100"> </th>
        <th bgcolor="blue"> विनोबा भावे विश्वविद्यालय, हजारीबाग</th>
         <th bgcolor="blue"> <img src="{% static 'images/2.JPG'%}" width="100" height="100"> </th>
    </tr>
</table>
</div>
</body>
</html>