<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>

<body>
<table align="center" border="1" width="1400"  style="font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif">
    <tr>
        <th> <a href="/home/" > <button type="button" class="btn btn-danger">Home</button> </a> </th>
        <th> <a href="/adminlogin/">  <button type="button" class="btn btn-danger">Admin</button> </a> </th>
        <th> <a href="/moderatorlogin/">  <button type="button" class="btn btn-danger">Moderator</button>  </a> </th>
        <th> <a href="/member/" >  <button type="button" class="btn btn-danger">Members</button> </a> </th>
    </tr>
</table>
</body>
</html>